<div class="row clearfix">
	<div class="col-md-8 column">
		<p>
			Mögliche Inkosistenzen nach <a class="btn btn-default" href="#/check">Check der Metadaten</a>
		</p>
		<p>
			Welche Ressourcen-Links sind in den <a class="btn btn-default" href="#/an/an001">Datensätzen mehrfach</a> vorhanden?
		</p>
		<p>
			Welche Datensätze haben <a class="btn btn-default" href="#/an/an002">identische Ressourcen-Links</a> ?
		</p>
		<p>
			Welche Links können <a class="btn btn-default" href="#/an/an003">nicht aufgelöst</a> werden?
		</p>
		
	</div>
	<div class="col-md-4 column">
		
	</div>
</div>