<div class="row clearfix">
	<div class="span12">
		<div ng-controller="TaxonomyControl">
			<div class="row clearfix">
				<div class="col-md-6 column">
					<div ng-show="entities.active()">
						<img src="/static/images/round_spinner.png" alt="spinner"/>
					</div>
					<div ng-show="!entities.active()">
						<img src="/static/images/reload.png" alt="reload" class="pointer" ng-click="loadGrid('entities')"/>
					</div>
					<div ng-hide="entities">
						<alert type="error">{{entitiesalert}}</alert>
					</div>
					<div ng-show="entities" class="gridStyle" ng-grid="entitiesgrid">
					</div>
				</div>
				<div class="col-md-6 column">
					<div ng-show="versions.active()">
						<img src="/static/images/round_spinner.png" alt="spinner"/>
					</div>
					<div ng-show="!versions.active()">
						<img src="/static/images/reload.png" alt="reload" class="pointer" ng-click="loadGrid('versions')"/>
					</div>
					<div ng-hide="versions">
						<alert type="error">{{versionsalert}}</alert>
					</div>
					<div ng-show="versions" class="gridStyle" ng-grid="versionsgrid">
					</div>				
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-md-6 column">
					<div ng-show="toponyms.active()">
						<img src="/static/images/round_spinner.png" alt="spinner"/>
					</div>
					<div ng-show="!toponyms.active()">
						<img src="/static/images/reload.png" alt="reload" class="pointer" ng-click="loadGrid('toponyms')"/>
					</div>
					<div ng-hide="toponyms">
						<alert type="error">{{toponymsalert}}</alert>
					</div>
					<div ng-show="toponyms" class="gridStyle" ng-grid="toponymsgrid">
					</div>				
				</div>
				<div class="col-md-6 column">
					<div ng-show="categories.active()">
						<img src="/static/images/round_spinner.png" alt="spinner"/>
					</div>
					<div ng-show="!categories.active()">
						<img src="/static/images/reload.png" alt="reload" class="pointer" ng-click="loadGrid('categories')"/>
					</div>
					<div ng-hide="categories">
						<alert type="error">{{categoriesalert}}</alert>
					</div>
					<div ng-show="categories" class="gridStyle" ng-grid="categoriesgrid">
					</div>				
				</div>
			</div>
		</div>
	</div>
</div>